body{
    background-color: rgb(7, 255, 193) ;
    font-size: medium;
    font-family:' sans-serif ;
}
h1{
    background-color: red;
    color: antiquewhite;
    margin-left: 500px;
    margin-right: 600px;
    margin-top: 100px;
}
#container{
  background: rgb(255, 251, 0);
    color: rgb(0, 4, 255);
    width: 800px;
    height: 400px;
    margin-top: 222px;
    margin-left: 522px;
}